/* Submeter Clínica */

::-webkit-scrollbar {
    width: 14.5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

body {
    background-color: #ffffff;
    height: 100%;
    overflow-x: hidden;
}

p {
    font-family: 'Montserrat';
}

/* Fundo da página */

/* background-image => imagem de fundo.
    background-size, position, repeat e attachment são para
    a imagem ser exibida na tela toda, no centro, sem repetição
    e sem rolar junto com a página */

#componentes-do-header {
    background-color: white;
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: header-aparece 1s;
}

.outras-paginas {
    font-family: 'Montserrat';
    font-weight: bold;
    margin-right: 4%;
    margin-top: 2%;
    display: inline-block;
}

.outras-paginas:hover .texto-header {
    color: #2098D1;
    transition: 0.2s ease-in-out;
}



.links {
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}

.links:hover {
    text-decoration: none;
}

p {
    font-family: 'Montserrat';
}

#solicitar-produto {
    margin-top: 4%;
    text-align: center;
    animation: título-aparece 1s;
}

#título-solicitar-produto {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

.solicitar-produto-texto {
    margin-top: 50px;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 40px;
}

.solicitar-produto-texto .titulo {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #333;

}

.texto-introdutorio {
    font-size: 20px;
}

/* Clínicas */

#submited-clinics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 13rem;
    padding-left: 13rem;
}

.clinic {
    padding: 20px;
    padding-right: 2rem;
    padding-left: 2rem;
    display: inline-block;
}

.clinic img {
    border-radius: 20px 20px 20px 20px;
}

.clinic-name {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 25px;
}

.city {
    font-size: 20px;
    padding-top: 1px;
}

#botão {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addclinicbutton {
    border: none;
    background-color: rgb(10, 79, 207);
    border-radius: 50px 50px 50px 50px;
    transition: 0.2s ease-in-out;
}

.addclinicbutton:hover {
    cursor: pointer;
    background-color: rgb(24, 146, 202);
    transition: 0.2s ease-in-out;
}

.addclinicbutton:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.addclinicbutton p {
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.container {
    padding-bottom: 30px;
}

.card {
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

#submit-button {
    padding-top: 20px;
    padding-bottom: 10px;
}

.btn {
    padding-top: 10px;
}

/* Footer (faz parte do corpo da página, mas só para deixar separado semanticamente) */

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-component {
    padding: 40px;
    display: inline-block;
}

.icons .bloco-de-texto-título {
    padding-bottom: 10px;
}

/* Tamanho, cor e animação dos ícones */

.fa-brands {
    width: 40px;
    font-size: 30px;
    color: #111;
    transition: 0.2s ease-in-out;
}

.fa-brands:hover {
    color: #0815c4;
    transition: 0.2s ease-in-out;
}

.bloco-de-texto {
    font-family: 'Montserrat';
    line-height: 20px;
    color: #333;
    text-align: left;
}

.bloco-de-texto-título {
    display: flex;
    text-transform: uppercase;
    margin-top: 50px;
}

.bloco-de-texto .telefones {
    text-decoration: none;
}

/* Animações */

@keyframes título-aparece {
    0% {
        margin-left: -50rem;
    }

    100% {
        text-align: center
    }
}

@keyframes header-aparece {
    0% {
        margin-top: -20%;
    }

    100% {
        margin-top: -0.5rem;
    }
}